{%extends "home.html"%}
{%block title%} edit User! {%endblock%}
{%block content%}
<a href = "/">home</a>
<h1 class = "text-center">{{user.first_name}}</h1>

<div class = "text-center container">
    <img src = {{user.image_url}}>
</div>


<div class = "text-center container">
    
    <form action = "/userDetails/{{user.id}}" method="POST">
        <h5 class = "text-primary text-center">edit user</h3>
        <span>first name</span><input class = "form-control" type="text" value = {{user.first_name}} name = "firstName"><br>
        <span>last name</span><input class = "form-control" type="text" value = {{user.last_name}} name = "lastName"><br>
        <span>image url</span><input class = "form-control" type="text" value = {{user.image_url}} name = "imageUrl"><br>
        <button type="submit" class = "btn btn-success">update!</button>

    </form>
</div>
{%endblock%}