{%extends "home.html"%}
{%block title%} user Info! {%endblock%}
{%block content%}



<div class = "text-center container">
    
    <form action = "/editUser/{{user.id}}" method="GET">
        <div class = "text-center container">
            <h1 class = "text-center">{{user.first_name}}</h1>
            <img src = {{user.image_url}}>
        </div>
        <button type="submit" class = "btn btn-success editBtn">edit!</button>
    </form>
</div>
    <form action = "/deleteUser/{{user.id}}" method="POST">
        <button type="submit" class = "btn btn-danger deleteBtn">delete user</button>
        </form>
</div>

<div>
    <h1 class = "text-secondary">your post!</h1>
    <ul>
      
    {% for post in posts %}
    
    <a href = "/viewPost/{{post.id}}"><li class = " text-primary">{{post.title}}</li></a>
    {% endfor %}
   
    </ul>
    <form action = "/addPost/{{user.id}}">
        <button type="submit" class = "btn btn-success">create post!</button>
    </form>
</div>
{%endblock%}